html {
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  display: block;
  font-size: inherit;
  text-decoration: none;
  color: #404040;
}

a,
h1,
h2,
h3,
h4,
li,
ul,
p,
span {
  margin: 0;
  padding: 0;
}

form,
input,
textarea,
label {
  font-family: inherit;
  font-size: inherit;
  display: block;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

p a {
  display: inline;
}

/* 1 Catalogue*/
.container-catalogue {
  margin-top: 4rem;
}

/* 1.1 Title catalogue*/
.catalogue__text {
  display: inline;
}

.catalogue__line {
  width: 100%;
  height: 2px;
}

.catalogue__title {
  position: relative;
  margin-left: 0.8rem;
  margin-right: 1.25rem;
}

/* 1.2 Card Catalouge */
.catalogue__card {
  width: 100%;
  height: 40vw;
}

.catalogue__card-img {
  width: 100%;
  height: auto;
}

.catalogue__card-text {
  height: 1.5rem;
}

.catalogue__card-text span, .catalogue__card-img {
  cursor: pointer;
}

.catalogue__grid {
  column-gap: 30px;
  row-gap: 50px;
  grid-template-columns: repeat(2, 40vw);
  grid-template-rows: repeat(4, 40vw);
}

@media screen and (min-width: 768px) {
  .container-catalogue {
    margin-top: 5rem;
  }

  .catalogue__card {
    height: 25vw;
  }

  .catalogue__card-text {
    height: 2rem;
  }

  .catalogue__grid {
    gap: 30px;
    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: repeat(2, 25vw);
  }
}
@media screen and (min-width: 1200px) {
  .catalogue__title {
    position: relative;
    margin-left: 5rem;
    margin-right: 4rem;
  }

  .catalogue__grid {
    column-gap: 30px;
    row-gap: 0px;
  }
}
.card {
  height: auto;
  width: 100%;
}

.card_home {
  width: 70%;
  margin: auto;
}

.card__btn {
  width: 6rem;
  margin: auto;
}

.card__btn--home {
  width: 5rem;
}

.card-container {
  column-gap: 30px;
  margin: 1rem 1.25rem 2rem 0.8rem;
  grid-template-columns: repeat(2, 40vw);
  row-gap: 70px;
  padding-top: 2rem;
}

.container-product {
  margin-top: 2rem;
}

.card-container--home {
  grid-template-columns: repeat(2, 35vw);
  column-gap: 0;
  row-gap: 40px;
}

@media screen and (min-width: 768px) {
  .card-container {
    grid-template-columns: repeat(4, 20vw);
    column-gap: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .container-product {
    margin-top: 5rem;
  }
}
/* Contact */
.contact {
  margin-top: 4rem;
}

.contact__social {
  margin-top: 3rem;
  padding: 2rem 0;
}

.contact__title {
  margin-bottom: 1.5rem;
}

.contact_social-icon {
  justify-content: center;
}

.contact_wpp {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 3rem;
  }

  .contact__social {
    margin-top: 0;
  }

  .contact__title {
    margin-bottom: 2rem;
  }

  .contact_wpp {
    display: block;
  }
}
/* Footer */
.footer {
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.footer__brand, .footer__copy {
  padding: 0.3rem;
}

/* Hero Image */
.hero-image {
  height: 90vw;
  margin-top: 4.5rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero-image {
    height: 28vw;
  }
}
@media screen and (min-width: 1200px) {
  .hero-image {
    margin-top: 7rem;
  }
}
.login {
  padding-top: 30px;
  max-width: 500px;
  min-width: 300px;
  height: 470px;
  margin-left: 30px;
  margin-right: 30px;
}

.login__box-icon {
  position: absolute;
}

.login__btn {
  width: 85%;
  height: 50px;
}

.login__btn:hover {
  cursor: pointer;
}

.login__form {
  margin: 50px;
  width: 80%;
}

.login__icon {
  position: relative;
  left: 6px;
  top: 10px;
}

.login__eye {
  position: relative;
  left: 170px;
  top: 5px;
}

.login__input {
  width: 100%;
  height: 10px;
  padding: 20px 10px 20px 40px;
}

.login__input:focus {
  outline: none;
}

.login__input--up {
  margin-bottom: 70px;
}

.login__input--down {
  margin-bottom: 100px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__home {
  display: none;
  margin-right: 2rem;
}

.menu {
  font-size: 0.7rem;
  left: 0;
  position: fixed;
  padding: 1rem 1.5rem;
  top: -20rem;
  width: 300px;
  transition: top 0.3s;
}

.menu--active {
  top: 4rem;
}

.menu__link {
  margin: 0.7rem 0;
  position: relative;
}

.menu__link img {
  height: 10px;
}

.sub-menu__link {
  margin: 1rem 0.7rem 0;
}

.sub-menu--unactive {
  height: 0;
  overflow: hidden;
}

.sub-menu--active {
  height: 100%;
  overflow: visible;
}

@media screen and (min-width: 1200px) {
  .container-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
  }

  .header {
    position: static;
    height: 70px;
  }

  .header__home {
    display: block;
  }

  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    width: 100%;
    padding: 0;
  }

  .menu__nav {
    display: flex;
    justify-content: space-around;
  }

  .menu__link img {
    display: none;
  }

  .menu__link {
    margin: 0;
    padding: 1rem 0;
    position: relative;
  }

  .sub-menu--unactive {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    height: auto;
    position: absolute;
    top: 30px;
    width: 165%;
    padding: 0.8rem 0;
  }

  .menu__link:hover .sub-menu--unactive {
    display: block;
  }
}
/* Service Section */
.service {
  margin-top: 7rem;
}

.service_delivery {
  margin: 1rem;
  flex-direction: column;
}

.service__img {
  margin: 1rem;
}

@media screen and (min-width: 768px) {
  .service_delivery {
    flex-direction: row;
  }
}
@media screen and (min-width: 1000px) {
  .service_delivery {
    justify-content: center;
  }
}
/* Whatsapp button */
.wpp-btn {
  bottom: 20px;
  position: fixed;
  right: 30px;
  z-index: 2;
}

/* Menu and header*/
.header {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header__home {
  color: #7152ad;
  font-size: 1.2rem;
}

.header__home-a {
  color: inherit;
}

.menu {
  background-color: white;
  border-bottom-right-radius: 5px;
}

.menu-btn {
  outline: none;
  border: 0;
  background-color: white;
  cursor: pointer;
}

.logo {
  text-align: center;
}

.logo a {
  font-size: 1.4rem;
  font-weight: 600;
  color: #7152ad;
}

@media screen and (min-width: 440px) {
  .logo a {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    background-color: #5ce1e6;
    border-bottom-right-radius: 0;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .menu__link a {
    color: inherit;
    font-size: 0.8rem;
    font-weight: 600;
  }

  .logo a {
    font-size: 2rem;
  }

  .sub-menu--unactive {
    background-color: #5ce1e6;
  }
}
/* 1.1 Title catalogue*/
.catalogue__line {
  font-size: 1px;
  color: #404040;
  background-color: #404040;
}

.catalogue__small {
  font-size: 0.75rem;
  font-weight: bold;
}

.catalogue__title {
  color: #404040;
}

.catalogue__text {
  font-size: 1.8rem;
}

/*  1.2 Card catalogue */
.catalogue__card {
  color: white;
  font-weight: bold;
}

.catalogue__card-text {
  font-size: 0.7rem;
  letter-spacing: 0.2rem;
  color: #404040;
}

@media screen and (min-width: 440px) {
  .catalogue__card {
    font-size: 1rem;
    font-weight: 700;
  }

  .catalogue__card-text {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .catalogue__small {
    font-size: 1.2rem;
    font-weight: lighter;
  }

  .catalogue__text {
    font-size: 2.2rem;
  }

  .catalogue__card-text {
    margin-bottom: 0;
  }
}
/* New Products */
.products-new__title-small {
  color: #d00f40;
  font-weight: bold;
  font-size: 0.75rem;
}

.products-new__title-big {
  color: #404040;
  font-size: 1.8rem;
}

.card__name, .card__price {
  font-size: 0.75rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.card__name {
  display: -webkit-box;
  max-height: 30px;
  min-height: 30px;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.card__price {
  color: #d00f40;
}

.card__btn {
  background-color: #d00f40;
  border-radius: 3%;
  cursor: pointer;
  color: white;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
}

.card__btn--home {
  padding: 0.3rem;
  font-size: 0.7rem;
}

.products-new__title-small, .products-new__title-big, .card__price, .card__btn, .card__name {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .products-new__title-small {
    font-size: 1.2rem;
  }

  .products-new__title-big {
    font-size: 2.2rem;
  }
}
/* Contact */
.contact__social {
  border-top: 0.8px solid #beb8b8;
  border-bottom: 0.8px solid #beb8b8;
}

.contact__title, .contact__social {
  font-weight: 600;
}

.contact__title, .contact__number, .contact_social-title {
  text-align: center;
}

.contact_social-icon {
  padding-top: 0.7rem;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .contact {
    border-top: 0.8px solid #beb8b8;
    border-bottom: 0.8px solid #beb8b8;
  }

  .contact__social {
    border: none;
  }
}
/* Footer */
.footer {
  font-size: 0.7rem;
  color: #a3a3a3;
}

.login {
  border-radius: 30px;
  background: white;
  border: 2px solid #d8d8d8;
}

.login__btn {
  color: white;
  border-radius: 8px;
  border: none;
  background: #0686c2;
  font-weight: 600;
}

.login__btn:active {
  box-shadow: 0 0 0 4px rgba(7, 142, 204, 0.3);
}

.login__btn:hover {
  background: #0073aa;
}

.login__icon {
  font-size: 1.5em;
}

.login__eye {
  cursor: pointer;
  font-size: 1em;
}

.login__input {
  color: #404040;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid black;
}

/* Whatsapp button */
.wpp-btn {
  border-radius: 50px;
  background-color: #24cb43;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 2rem;
  height: 3.4rem;
  line-height: 3.4rem;
  text-align: center;
  width: 3.4rem;
}

.wpp-btn:hover {
  background-color: white;
  color: #24cb43;
}

.a-i-center {
  align-items: center;
}

.bck-first {
  background-color: #f0f0f1;
}

.c-pointer {
  cursor: pointer;
}

.c-black {
  color: black;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.f-d-column {
  flex-direction: column;
}

.h-vw-100 {
  height: 100vh;
}

.j-c-center {
  justify-content: center;
}

.j-c-between {
  justify-content: space-between;
}

.m-top-4 {
  margin-top: 4rem;
}

.m-bot-4 {
  margin-bottom: 4rem;
}

.p-relative {
  position: relative;
}

/*# sourceMappingURL=index.css.map */
